var config = {
	length: 6,
	dbFile: './db.sqlite3',
	expressProxy: 'loopback', // Read more here: https://expressjs.com/en/guide/behind-proxies.html
	password: 'password', // The password used to add new short URLs,
	port: '19282',
	domain: 'short.url',
	homeRedirect: 'https://example.com',
	customLogic: '',
	sessionSecret: 'lkhasdlfaslkfdjsl',
	prometheus: {
		enabled: false,
		port: '19292'
	}
};

module.exports = config;
